Node-RED/node-red-game-simulator-example.json
[
    {
        "id": "4c6f3fee.b6675",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5ac91ff3.86fef",
        "type": "tab",
        "label": "2 player game simulation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "116f1ff.480b0e",
        "type": "tab",
        "label": "Simulation Game Board",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8fde701c.6c6c3",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c19ddfcf.06e82",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7439f979.e3ee18",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "c19ddfcf.06e82",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3dd7f020.68187",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 4,
                "gy": 4,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "622b3681.b637e8",
        "type": "ui_group",
        "z": "",
        "name": "2 Player Game Simulation",
        "tab": "3c01459a.82910a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3c01459a.82910a",
        "type": "ui_tab",
        "z": "",
        "name": "2 Player Simulation",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "43e5bb99.cfe0e4",
        "type": "ui_tab",
        "z": "",
        "name": "One Player Game",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eff19175.c358e",
        "type": "ui_group",
        "z": "",
        "name": "Color",
        "tab": "43e5bb99.cfe0e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d7d463f4.cae2c",
        "type": "ui_group",
        "z": "",
        "name": "P1 LED Board",
        "tab": "3c01459a.82910a",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "4c314b97.169624",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d7d463f4.cae2c",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "1980e43f.b4d11c",
        "type": "function",
        "z": "4c6f3fee.b6675",
        "name": "temp",
        "func": "return {payload:msg.payload.d.temp};",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "48c3b8d0.9c3558"
            ]
        ]
    },
    {
        "id": "48c3b8d0.9c3558",
        "type": "switch",
        "z": "4c6f3fee.b6675",
        "name": "temp thresh",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "40",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "40",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "5af543bd.70630c"
            ],
            [
                "c3eb20e6.6fb63"
            ]
        ]
    },
    {
        "id": "6e974680.39cd28",
        "type": "debug",
        "z": "4c6f3fee.b6675",
        "name": "cpu status",
        "active": false,
        "complete": "false",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "ea07eb98.bc0448",
        "type": "debug",
        "z": "4c6f3fee.b6675",
        "name": "device data",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 410,
        "y": 560,
        "wires": []
    },
    {
        "id": "5af543bd.70630c",
        "type": "template",
        "z": "4c6f3fee.b6675",
        "name": "safe",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "mustache",
        "template": "Temperature ({{payload}}) within safe limits",
        "x": 710,
        "y": 460,
        "wires": [
            [
                "6e974680.39cd28",
                "7b56a575.19d6ac"
            ]
        ]
    },
    {
        "id": "c3eb20e6.6fb63",
        "type": "template",
        "z": "4c6f3fee.b6675",
        "name": "danger",
        "template": "Temperature ({{payload}}) critical",
        "x": 720,
        "y": 500,
        "wires": [
            [
                "6e974680.39cd28"
            ]
        ]
    },
    {
        "id": "3db4e4f7.4a9dfc",
        "type": "inject",
        "z": "4c6f3fee.b6675",
        "name": "Send Data",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "20164732.524cf8"
            ]
        ]
    },
    {
        "id": "20164732.524cf8",
        "type": "function",
        "z": "4c6f3fee.b6675",
        "name": "Device payload",
        "func": "// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "5f9f3a85.1b8ff4",
                "d632271c.8819e8"
            ]
        ]
    },
    {
        "id": "5f9f3a85.1b8ff4",
        "type": "debug",
        "z": "4c6f3fee.b6675",
        "name": "Debug output payload",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "33e5da99.a54c16",
        "type": "comment",
        "z": "4c6f3fee.b6675",
        "name": "Device Simulator",
        "info": "Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "c742e956.a93c08",
        "type": "comment",
        "z": "4c6f3fee.b6675",
        "name": "1. Configure target",
        "info": "",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "eee1d834.9e4158",
        "type": "comment",
        "z": "4c6f3fee.b6675",
        "name": "2. Click to send data",
        "info": "To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n",
        "x": 130,
        "y": 180,
        "wires": []
    },
    {
        "id": "5f5d259.a7f9cdc",
        "type": "comment",
        "z": "4c6f3fee.b6675",
        "name": "Temperature Monitor",
        "info": "",
        "x": 210,
        "y": 380,
        "wires": []
    },
    {
        "id": "f573da3c.d9d7d8",
        "type": "comment",
        "z": "4c6f3fee.b6675",
        "name": "Configure source",
        "info": "",
        "x": 200,
        "y": 440,
        "wires": []
    },
    {
        "id": "cea7b111.fe71b",
        "type": "json",
        "z": "4c6f3fee.b6675",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "1980e43f.b4d11c",
                "ea07eb98.bc0448"
            ]
        ]
    },
    {
        "id": "d632271c.8819e8",
        "type": "mqtt out",
        "z": "4c6f3fee.b6675",
        "name": "",
        "topic": "TempData",
        "qos": "1",
        "retain": "",
        "broker": "8fde701c.6c6c3",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "7b56a575.19d6ac",
        "type": "ui_text",
        "z": "4c6f3fee.b6675",
        "group": "7439f979.e3ee18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "c0b9a71b.9ea2b8",
        "type": "function",
        "z": "5ac91ff3.86fef",
        "name": "Add Play",
        "func": "\nif(msg.payload.game.length <= 20){\n    \n //Concatenate a play\n msg.payload.game.push(Math.round(Math.random()*15))\n    \n}\nelse{\n //Pop out first game in list and add a new one at the end\n msg.payload.game.shift(); // Remove an item from the beginning of an array.\n msg.payload.game.push(Math.round(Math.random()*15))\n}\n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 320,
        "wires": [
            [
                "4004f32f.841acc",
                "6a2ba603.56a918",
                "285e1be5.e64a54"
            ]
        ]
    },
    {
        "id": "4004f32f.841acc",
        "type": "debug",
        "z": "5ac91ff3.86fef",
        "name": "Debug output payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "512750c.59b06b",
        "type": "comment",
        "z": "5ac91ff3.86fef",
        "name": "Device Simulator - Press to Start a New Game",
        "info": "Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "f996af79.0680f",
        "type": "comment",
        "z": "5ac91ff3.86fef",
        "name": "Add move to P1 and send to P2",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "df42a169.95838",
        "type": "mqtt out",
        "z": "5ac91ff3.86fef",
        "name": "",
        "topic": "P1_GAME_ESE516_T0",
        "qos": "1",
        "retain": "",
        "broker": "8fde701c.6c6c3",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "ca8ced29.a967c",
        "type": "inject",
        "z": "5ac91ff3.86fef",
        "name": "",
        "topic": "",
        "payload": "{\"game\":[0]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "bf064806.f9d048"
            ]
        ]
    },
    {
        "id": "a499c6df.4fc628",
        "type": "debug",
        "z": "5ac91ff3.86fef",
        "name": "Debug output payload",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "aa913e41.84da",
        "type": "mqtt in",
        "z": "5ac91ff3.86fef",
        "name": "",
        "topic": "P1_GAME_ESE516_T0",
        "qos": "1",
        "datatype": "auto",
        "broker": "8fde701c.6c6c3",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "3f1df67f.27042a",
                "cdc8ef25.6f588"
            ]
        ]
    },
    {
        "id": "3f1df67f.27042a",
        "type": "debug",
        "z": "5ac91ff3.86fef",
        "name": "Debug output payload",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 460,
        "y": 460,
        "wires": []
    },
    {
        "id": "cb535277.c48ac",
        "type": "debug",
        "z": "5ac91ff3.86fef",
        "name": "Debug output payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "cdc8ef25.6f588",
        "type": "json",
        "z": "5ac91ff3.86fef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "c0b9a71b.9ea2b8",
                "cb535277.c48ac"
            ]
        ]
    },
    {
        "id": "6a2ba603.56a918",
        "type": "mqtt out",
        "z": "5ac91ff3.86fef",
        "name": "",
        "topic": "P2_GAME_ESE516_T0",
        "qos": "1",
        "retain": "",
        "broker": "8fde701c.6c6c3",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "f924ab3.23dd358",
        "type": "mqtt in",
        "z": "5ac91ff3.86fef",
        "name": "",
        "topic": "P2_GAME_ESE516_T0",
        "qos": "1",
        "datatype": "auto",
        "broker": "8fde701c.6c6c3",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "a676c449.c87e88",
                "a9b58c3.b276f7"
            ]
        ]
    },
    {
        "id": "5bcf18fa.29cbd8",
        "type": "function",
        "z": "5ac91ff3.86fef",
        "name": "Add Play",
        "func": "\nif(msg.payload.game.length <= 20){\n    \n //Concatenate a play\n msg.payload.game.push(Math.round(Math.random()*15))\n    \n}\nelse{\n //Pop out first game in list and add a new one at the end\n msg.payload.game.shift(); // Remove an item from the beginning of an array.\n msg.payload.game.push(Math.round(Math.random()*15))\n}\n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 600,
        "wires": [
            [
                "300afcfa.6035e4",
                "e4c6da55.0408d8",
                "229d5f64.5c929"
            ]
        ]
    },
    {
        "id": "300afcfa.6035e4",
        "type": "debug",
        "z": "5ac91ff3.86fef",
        "name": "Debug output payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 820,
        "y": 700,
        "wires": []
    },
    {
        "id": "a9b58c3.b276f7",
        "type": "debug",
        "z": "5ac91ff3.86fef",
        "name": "Debug output payload",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 380,
        "y": 740,
        "wires": []
    },
    {
        "id": "885aa766.0de178",
        "type": "debug",
        "z": "5ac91ff3.86fef",
        "name": "Debug output payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 540,
        "y": 680,
        "wires": []
    },
    {
        "id": "a676c449.c87e88",
        "type": "json",
        "z": "5ac91ff3.86fef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 600,
        "wires": [
            [
                "5bcf18fa.29cbd8",
                "885aa766.0de178"
            ]
        ]
    },
    {
        "id": "54dd8cf6.8f1434",
        "type": "mqtt out",
        "z": "5ac91ff3.86fef",
        "name": "",
        "topic": "P1_GAME_ESE516_T0",
        "qos": "1",
        "retain": "",
        "broker": "8fde701c.6c6c3",
        "x": 570,
        "y": 880,
        "wires": []
    },
    {
        "id": "e174c289.77e3e",
        "type": "ui_button",
        "z": "5ac91ff3.86fef",
        "name": "",
        "group": "622b3681.b637e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Simulate Turn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 913,
        "wires": [
            [
                "cfad289c.cedd48"
            ]
        ]
    },
    {
        "id": "e4c6da55.0408d8",
        "type": "change",
        "z": "5ac91ff3.86fef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "message1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "cfad289c.cedd48",
        "type": "change",
        "z": "5ac91ff3.86fef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "message1",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 893,
        "wires": [
            [
                "54dd8cf6.8f1434"
            ]
        ]
    },
    {
        "id": "68983335.0e7d1c",
        "type": "comment",
        "z": "5ac91ff3.86fef",
        "name": "Add move to P2 and send to P1 when BUTTON is press",
        "info": "",
        "x": 240,
        "y": 540,
        "wires": []
    },
    {
        "id": "bc2624d3.a95a38",
        "type": "comment",
        "z": "5ac91ff3.86fef",
        "name": "Simulate Turn",
        "info": "",
        "x": 110,
        "y": 820,
        "wires": []
    },
    {
        "id": "285e1be5.e64a54",
        "type": "ui_text",
        "z": "5ac91ff3.86fef",
        "group": "622b3681.b637e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "P1 Move",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "229d5f64.5c929",
        "type": "ui_text",
        "z": "5ac91ff3.86fef",
        "group": "622b3681.b637e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "P2 Move",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 640,
        "wires": []
    },
    {
        "id": "bf064806.f9d048",
        "type": "ui_button",
        "z": "5ac91ff3.86fef",
        "name": "",
        "group": "622b3681.b637e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Initialize Game",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"game\":[0]}",
        "payloadType": "str",
        "topic": "",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "df42a169.95838",
                "a499c6df.4fc628"
            ]
        ]
    },
    {
        "id": "d16fab0f.782708",
        "type": "comment",
        "z": "116f1ff.480b0e",
        "name": "Animate Play",
        "info": "",
        "x": 90,
        "y": 240,
        "wires": []
    },
    {
        "id": "c05aed9b.ab7db",
        "type": "debug",
        "z": "116f1ff.480b0e",
        "name": "Debug output payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "4cc0ab2a.88b434",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led1",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "f9b26a67.5cf388",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led2",
        "x": 1270,
        "y": 140,
        "wires": []
    },
    {
        "id": "bd8f2b7c.6796e8",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led3",
        "x": 1270,
        "y": 180,
        "wires": []
    },
    {
        "id": "c86d8d18.d96ed",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led4",
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "a8e0b200.dc4ed",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led5",
        "x": 1270,
        "y": 260,
        "wires": []
    },
    {
        "id": "f0a50ac5.90c7b8",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led6",
        "x": 1270,
        "y": 300,
        "wires": []
    },
    {
        "id": "b21ac57f.faad88",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led7",
        "x": 1270,
        "y": 340,
        "wires": []
    },
    {
        "id": "ac0ec6c3.755758",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led8",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "2b88fff0.d9844",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led9",
        "x": 1270,
        "y": 420,
        "wires": []
    },
    {
        "id": "82382e0b.fa71b",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led10",
        "x": 1270,
        "y": 460,
        "wires": []
    },
    {
        "id": "950d5279.e6a1a",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led11",
        "x": 1270,
        "y": 500,
        "wires": []
    },
    {
        "id": "ac0f2d76.c8a64",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led12",
        "x": 1270,
        "y": 540,
        "wires": []
    },
    {
        "id": "7bf92286.7a891c",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led13",
        "x": 1270,
        "y": 580,
        "wires": []
    },
    {
        "id": "f0e0de4e.3c93d",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led14",
        "x": 1270,
        "y": 620,
        "wires": []
    },
    {
        "id": "9df0706.839de9",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led15",
        "x": 1270,
        "y": 660,
        "wires": []
    },
    {
        "id": "b1a93491.7b7948",
        "type": "ui_led",
        "z": "116f1ff.480b0e",
        "group": "d7d463f4.cae2c",
        "order": 1,
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led16",
        "x": 1270,
        "y": 700,
        "wires": []
    },
    {
        "id": "1d3c5dd4.892ae2",
        "type": "split",
        "z": "116f1ff.480b0e",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 490,
        "y": 220,
        "wires": [
            [
                "24e73d6a.04f4b2"
            ]
        ]
    },
    {
        "id": "29d0818d.68588e",
        "type": "delay",
        "z": "116f1ff.480b0e",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "d30cfd4f.67b37",
                "3a37c28f.ff8e2e"
            ]
        ]
    },
    {
        "id": "7167d561.2eca6c",
        "type": "mqtt in",
        "z": "116f1ff.480b0e",
        "name": "",
        "topic": "P2_GAME_ESE516_T0",
        "qos": "1",
        "datatype": "auto",
        "broker": "8fde701c.6c6c3",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "63059394.4cf9ec"
            ]
        ]
    },
    {
        "id": "d30cfd4f.67b37",
        "type": "debug",
        "z": "116f1ff.480b0e",
        "name": "Debug output payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 940,
        "y": 580,
        "wires": []
    },
    {
        "id": "63059394.4cf9ec",
        "type": "json",
        "z": "116f1ff.480b0e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "c05aed9b.ab7db",
                "e62ea6ab.bd4a28"
            ]
        ]
    },
    {
        "id": "24e73d6a.04f4b2",
        "type": "split",
        "z": "116f1ff.480b0e",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 610,
        "y": 280,
        "wires": [
            [
                "29d0818d.68588e"
            ]
        ]
    },
    {
        "id": "764ea03a.3afae",
        "type": "debug",
        "z": "116f1ff.480b0e",
        "name": "Debug output payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1300,
        "y": 60,
        "wires": []
    },
    {
        "id": "3a37c28f.ff8e2e",
        "type": "function",
        "z": "116f1ff.480b0e",
        "name": "",
        "func": "var on = { payload: true};\nvar off = { payload: false};\n\n\nif(msg.payload === 0)\n{\n  return [on, off, off, off, off, off, off, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 1)\n{\n  return [off, on, off, off, off, off, off, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 2)\n{\n  return [off, off, on, off, off, off, off, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 3)\n{\n  return [off, off, off, on, off, off, off, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 4)\n{\n  return [off, off, off, off, on, off, off, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 5)\n{\n  return [off, off, off, off, off, on, off, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 6)\n{\n  return [off, off, off, off, off, off, on, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 7)\n{\n  return [off, off, off, off, off, off, off, on, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 8)\n{\n  return [off, off, off, off, off, off, off, off, on, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 9)\n{\n  return [off, off, off, off, off, off, off, off, off, on, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 10)\n{\n  return [off, off, off, off, off, off, off, off, off, off, on, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 11)\n{\n  return [off, off, off, off, off, off, off, off, off, on, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 12)\n{\n  return [off, off, off, off, off, off, off, off, off, off, on, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 13)\n{\n  return [off, off, off, off, off, off, off, off, off, off, off, on, off, off, off, off];  \n    \n}\nelse if(msg.payload === 14)\n{\n  return [off, off, off, off, off, off, off, off, off, off, off, off, on, off, off, off];  \n    \n}\nelse if(msg.payload === 15)\n{\n  return [off, off, off, off, off, off, off, off, off, off, off, off, off, on, off, off];  \n    \n}\nelse\n{\n  return [off, off, off, off, off, off, off, off, off, off, off, off, off, off, off, off];  \n    \n}\n",
        "outputs": 16,
        "noerr": 0,
        "x": 960,
        "y": 280,
        "wires": [
            [
                "4cc0ab2a.88b434",
                "764ea03a.3afae"
            ],
            [
                "f9b26a67.5cf388"
            ],
            [
                "bd8f2b7c.6796e8"
            ],
            [
                "c86d8d18.d96ed"
            ],
            [
                "a8e0b200.dc4ed"
            ],
            [
                "f0a50ac5.90c7b8"
            ],
            [
                "b21ac57f.faad88"
            ],
            [
                "ac0ec6c3.755758"
            ],
            [
                "2b88fff0.d9844"
            ],
            [
                "82382e0b.fa71b"
            ],
            [
                "950d5279.e6a1a"
            ],
            [
                "ac0f2d76.c8a64"
            ],
            [
                "7bf92286.7a891c"
            ],
            [
                "f0e0de4e.3c93d"
            ],
            [
                "9df0706.839de9"
            ],
            [
                "b1a93491.7b7948"
            ]
        ]
    },
    {
        "id": "e62ea6ab.bd4a28",
        "type": "function",
        "z": "116f1ff.480b0e",
        "name": "",
        "func": "msg.payload.game.push(16) //Add 16 at end to turn of system\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "1d3c5dd4.892ae2"
            ]
        ]
    },
    {
        "id": "86610934.402028",
        "type": "mqtt in",
        "z": "4c6f3fee.b6675",
        "name": "",
        "topic": "P1_IMU_ESE516_T0",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fde701c.6c6c3",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "ea8af28d.45304"
            ]
        ]
    },
    {
        "id": "ea8af28d.45304",
        "type": "debug",
        "z": "4c6f3fee.b6675",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 490,
        "y": 720,
        "wires": []
    },
    {
        "id": "a927dcb5.67b9d",
        "type": "mqtt in",
        "z": "4c6f3fee.b6675",
        "name": "",
        "topic": "P1_DISTANCE_ESE516_T0",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fde701c.6c6c3",
        "x": 220,
        "y": 780,
        "wires": [
            [
                "c9383b30.7f6f08"
            ]
        ]
    },
    {
        "id": "c9383b30.7f6f08",
        "type": "debug",
        "z": "4c6f3fee.b6675",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 490,
        "y": 780,
        "wires": []
    },
    {
        "id": "7df6438c.847edc",
        "type": "ui_colour_picker",
        "z": "116f1ff.480b0e",
        "name": "",
        "label": "LED Color",
        "group": "622b3681.b637e8",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": "1",
        "height": "1",
        "passthru": true,
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "d1853f0f.40862",
                "22e5bff9.6f8aa"
            ]
        ]
    },
    {
        "id": "d1853f0f.40862",
        "type": "debug",
        "z": "116f1ff.480b0e",
        "name": "Debug output payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "22e5bff9.6f8aa",
        "type": "mqtt out",
        "z": "116f1ff.480b0e",
        "name": "",
        "topic": "P1_LED_ESE516_T0",
        "qos": "1",
        "retain": "",
        "broker": "8fde701c.6c6c3",
        "x": 480,
        "y": 40,
        "wires": []
    }
]